.music-header {
  width: 100%;
  height: 24vw;
  position: relative;
  text-align: center;
  line-height: 10vw;
  color: #000000;
  background-color: #d44439;
}

.music-header .title {
  font-size: 17px;
  border-bottom: 0.1px solid #eee;
}

.music-header .van-nav-bar {
  background-color: #d44439;
}

.music-header .van-nav-bar__title {
  color: #ffffff;
}

.music-header .van-hairline--top-bottom::after,
.music-header .van-hairline-unset--top-bottom::after {
  border-width: 0;
}

.music-header .box {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  height: 13vw;
}

.music-header .box .mine {
  margin-top: 4vw;
}

.music-header .box1 {
  width: 100%;
  position: fixed;
  top: 13vw;
  z-index: 5;
  border-top: 1px solid #fff;
}

.music-header .box1 .van-tabs__line {
  position: absolute;
  top: 9vw;
}

.music-header .ysbox {
  height: 100%;
}
