<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>叫号管理</title>
		<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<style>
			[v-cloak] {
				display: none
			}
		</style>
	</head>
	<body>
		<div id="app">
			当前科室:&nbsp;<b v-cloak>{{sname}}</b>
			&nbsp;&nbsp;
			类型:&nbsp;
			<select style="width: 40%" v-model="ptype">
				<option value="p">普通号</option>
				<option value="z">专家号</option>
			</select>
			<div v-html="qmessage" v-cloak></div>
			<div @click="call();" class="btn btn-success btn-lg" v-show="isCanCall" v-cloak>
				叫号
			</div>
		</div>
		<script src="../js/vue.min.js"></script>
		<script src="../js/axios.min.js"></script>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					sname: "",
					qmessage: "",
					ptype: "p",
					isCanCall: false
				},
				created: function() {
					var sid = window.localStorage.getItem("sid");
					if (sid != null) {
						this.isCanCall = true;
						axios.get("../getSections?id=" + sid)
							.then((res) => {
								//app.ks=res.data;
								var section = res.data;
								app.sname = section[0].sname;
							})
							.catch((error) => {
								console.log(error); //异常
							});
						// alert(sid);
					} else {
						this.isCanCall = false;
					}
				},
				methods: {
					call: function() {
						var sid = window.localStorage.getItem("sid");
						if (this.isCanCall) {
							axios.get("../callNum?sid=" + sid + "&ptype=" + this.ptype)
								.then((res) => {
									//app.ks=res.data;
									var res = res.data;
									if (res.msg == null) {
										var str = res.ptype == "p" ? "普通号" : "专家号";
										this.qmessage = "请 <b>" + str + "</b> 的 <b>" + res.pname + "</b> 前来就诊";
									} else if (res.msg === "isNull") {
										alert("当前科室无挂号病人!");
									}
								})
								.catch((error) => {
									console.log(error); //异常
								});
						} else {
							alert("当前无科室挂号!");
						}
					}
				}
			});
		</script>


	</body>
</html>
