<% 
	if (model.isAnnotated()) { 
%>
<% 
	}
%>
  <% 
	if ("3.0".equals(model.getJavaEEVersion()) || "3.1".equals(model.getJavaEEVersion()) ||  "4.0".equals(model.getJavaEEVersion())) { 
%>
@WebListener
<%
}
%>