.swipebox{
    background-color: #d44439;
    position: relative;
    height: 33vw;
    .swipe{
        width: 90%;
        border-radius: 10px;
        position: absolute;
        bottom: -5vw;
        left: 5vw;
    }
}