
header{
	background-color: #31C27D;
	height: 0.5rem;
	position: relative;
}
header p{
	text-align: center;
	color: #fff;
	font-size: 0.18rem;
	line-height: .18rem;
	padding-top: 0.14rem;
}
header 	a{
	color: white;
	
}
header 	a span.mui-icon{
	font-size: 0.2rem;
	position: absolute;
	left: 3%;
	top: 50%;
	transform: translateY(-50%);
}
ul{
	background-color: #fff;
	padding-bottom: 1rem;
}
li{
	width: 90%;
	margin: 0 auto;
	font-size: 0.15rem;
	line-height: 0.22rem;
	border-bottom: 2px solid #ccc;
	padding: 0.1rem 0;
	padding-left: 5%;
}
li div:first-of-type{
	color: #666;
	width: 30%;
}
li div.two{
	margin-left: 2%;
	width: 63%;
}