.details-top {
  width: 100%;
  height: 76vw;
  background-color: black;
}

.details-top .van-image {
  width: 100%;
  height: 100vw;
  opacity: .7;
}

.details-top .top-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vw;
}

.details-top .top-btn .van-icon {
  float: left;
}

.details-top .top-btn p {
  float: left;
  margin-left: 2vw;
  font-size: 4.5vw;
  color: #fff;
}

.details-top .top-text {
  position: absolute;
  left: 3vw;
  top: 55vw;
}

.details-top .top-text h2 {
  padding: 1vw;
  font-size: 5vw;
  letter-spacing: .5vw;
  color: #fff;
}

.details-top .top-text .van-icon {
  float: left;
  padding: .5vw 2vw 0 2vw;
}

.details-top .top-text p {
  float: left;
  font-size: 3.6vw;
  color: #fff;
}

.details-bottom {
  position: relative;
  top: -4.2vw;
  width: 100%;
}

.details-bottom .btm-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vw;
  line-height: 10vw;
  letter-spacing: .5vw;
  border-radius: 5vw 5vw 0 0;
  background-color: #eee;
  color: black;
}

.details-bottom .btm-title .van-icon {
  margin-left: 5vw;
}

.details-bottom .btm-title span {
  margin-left: 2vw;
  font-size: 4vw;
}

.details-bottom .btm-title .sum {
  font-size: 3vw;
  color: black;
}

.details-bottom .btm-content {
  background-color: #eee;
}

.details-bottom .btm-content .ranking {
  display: flex;
  align-items: center;
  height: 15vw;
  color: #888;
  border-bottom: 1px solid #a89f9f;
}

.details-bottom .btm-content .ranking .ranking-left {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 4vw;
}

.details-bottom .btm-content .ranking .ranking-right {
  flex: 5;
}

.details-bottom .btm-content .ranking .ranking-right .right-name {
  font-size: 4vw;
  color: black;
}
